body {
    background-color: black;
    color: #f66;
    margin: 0;
    padding: 0;
  }
  
  .homeHeaderUsers {
    display: flex;
    
    align-items: center;
    padding: 20px 20px 20px 20px;
  }
  
  .buttons {
    display: flex; /* Make buttons flex container */
  }
  
  .buttons button {
    margin-right: 10px; /* Adjust as needed */
    background-color: #FF6666;
    color: black;
    border-radius: 35px; 
      padding: 20px; 
      padding-top: 5px;
      padding-bottom: 5px;
  }
  
  .homeSearch {
    display: flex;
    
  }
  .homeSearch input {
    border-radius: 35px; 
    padding: 20px; 
    padding-top: 5px;
    padding-bottom: 5px;
    width: 500px;
    margin: 0px 5px 0px 5px;
  }
  .homeSearch select {
    width: 10%;
  }
  .homeSearch button {
    margin-right: 10px; /* Adjust as needed */
    background-color: #FF6666;
    color: black;
    border-radius: 35px; 
      padding: 20px; 
      padding-top: 5px;
      padding-bottom: 5px;
  }
  
  .ManageMovieNowPlaying {
    background-color: #FF6666;
    color: black;
    margin: 10px 0px 10px 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
    align-items: center;
  }
  .ManageMovieNowPlaying h1 {
    margin: 0px 10% 0px 10%;
    padding:5px;
    align-items: center;
    flex-grow: 1;
  }

  